# [dbo].[Author]

In [0]:
USE [library]
GO

In [0]:
/****** Object:  Table [dbo].[Author]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Author_book]

In [0]:
/****** Object:  Table [dbo].[Author_book]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author_book](
	[id_book] [int] NOT NULL,
	[id_worker] [int] NOT NULL,
	[id_library_card] [int] NOT NULL,
	[id_author_book] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Author_book] PRIMARY KEY CLUSTERED 
(
	[id_author_book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Book]

In [0]:
/****** Object:  Table [dbo].[Book]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[books] [nvarchar](max) NOT NULL,
	[id_author] [int] NOT NULL,
	[id_date_of_publication] [int] NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Client]

In [0]:
/****** Object:  Table [dbo].[Client]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_role] [int] NOT NULL,
	[id_library_card] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NULL,
	[Patronymic] [varchar](50) NULL,
	[login] [nvarchar](max) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[id_group] [int] NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Date_of_publication]

In [0]:
/****** Object:  Table [dbo].[Date_of_publication]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Date_of_publication](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_publication] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Date_of_publication] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Discipline]

In [0]:
/****** Object:  Table [dbo].[Discipline]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[discipline] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Group_student]

In [0]:
/****** Object:  Table [dbo].[Group_student]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Group_student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Library_Card]

In [0]:
/****** Object:  Table [dbo].[Library_Card]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library_Card](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_author] [int] NOT NULL,
	[id_book] [int] NOT NULL,
	[id_date_of_publication] [int] NOT NULL,
	[id_location] [int] NOT NULL,
	[part_number] [int] NULL,
	[date_redister] [date] NOT NULL,
	[date_register_end] [date] NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Library_Card] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[location]

In [0]:
/****** Object:  Table [dbo].[location]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[rack] [int] NOT NULL,
	[sthelf] [int] NOT NULL,
	[id_discipline] [int] NOT NULL,
	[id_date_of_publication] [int] NOT NULL,
	[id_book] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Publishing_house]

In [0]:
/****** Object:  Table [dbo].[Publishing_house]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishing_house](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[street] [nvarchar](50) NULL,
	[home] [nvarchar](50) NULL,
 CONSTRAINT [PK_Publishing_house] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Rent]

In [0]:
/****** Object:  Table [dbo].[Rent]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_worker] [int] NOT NULL,
	[id_library_card] [int] NOT NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Role]

In [0]:
/****** Object:  Table [dbo].[Role]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Worker]

In [0]:
/****** Object:  Table [dbo].[Worker]    Script Date: 20.05.2025 12:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_role] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NULL,
	[Patronymic] [varchar](50) NULL,
	[Login] [varchar](max) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Author]

In [0]:
SET IDENTITY_INSERT [dbo].[Author] ON 
INSERT [dbo].[Author] ([id], [Name]) VALUES (1, N'Семишин, В. И. ')
INSERT [dbo].[Author] ([id], [Name]) VALUES (2, N'А.А. Воротников. ')
INSERT [dbo].[Author] ([id], [Name]) VALUES (3, N'Крицман, В. В. ')
INSERT [dbo].[Author] ([id], [Name]) VALUES (4, N'Д.И. Менделеева')
INSERT [dbo].[Author] ([id], [Name]) VALUES (5, N'А.Д. Некипелов')
INSERT [dbo].[Author] ([id], [Name]) VALUES (6, N'О.Покровский ')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO

# [dbo].[Book]

In [0]:
SET IDENTITY_INSERT [dbo].[Book] ON 
INSERT [dbo].[Book] ([id], [books], [id_author], [id_date_of_publication], [IsDelete]) VALUES (1, N'Литература по периодическому закону Д. И. Менделеева: справочник в двух частях', 1, 1, 1)
INSERT [dbo].[Book] ([id], [books], [id_author], [id_date_of_publication], [IsDelete]) VALUES (2, N'Физика и химия: Универсальная энциклопедия школьника ', 2, 2, 1)
INSERT [dbo].[Book] ([id], [books], [id_author], [id_date_of_publication], [IsDelete]) VALUES (3, N'Энциклопедический словарь юного химика', 3, 3, 1)
INSERT [dbo].[Book] ([id], [books], [id_author], [id_date_of_publication], [IsDelete]) VALUES (4, N'Периодическая таблица химических элементов ', 4, 4, 1)
INSERT [dbo].[Book] ([id], [books], [id_author], [id_date_of_publication], [IsDelete]) VALUES (5, N'Новая Российская энциклопедия', 5, 5, 1)
INSERT [dbo].[Book] ([id], [books], [id_author], [id_date_of_publication], [IsDelete]) VALUES (6, N'Великая «Тарифная война»', 6, 6, 1)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO

# [dbo].[Client]

In [0]:
SET IDENTITY_INSERT [dbo].[Client] ON 
INSERT [dbo].[Client] ([id], [id_role], [id_library_card], [Name], [Surname], [Patronymic], [login], [password], [id_group], [IsDelete]) VALUES (1, 1, 1, N'Дмитрий', N'Ардельян', N'Валерьевич', N'AWQ1DA', N'107593', 1, 1)
INSERT [dbo].[Client] ([id], [id_role], [id_library_card], [Name], [Surname], [Patronymic], [login], [password], [id_group], [IsDelete]) VALUES (2, 1, 2, N'Динар', N'Вильданов', N'Маратович', N'ESZ2DA', N'175632', 2, 1)
INSERT [dbo].[Client] ([id], [id_role], [id_library_card], [Name], [Surname], [Patronymic], [login], [password], [id_group], [IsDelete]) VALUES (3, 1, 3, N'Эдгар', N'Галеев', N'Эдуардович', N'RDX3DA', N'175386', 2, 1)
INSERT [dbo].[Client] ([id], [id_role], [id_library_card], [Name], [Surname], [Patronymic], [login], [password], [id_group], [IsDelete]) VALUES (4, 1, 4, N'Ильсур', N'Гараев', N'Илгамович', N'TFC4DA', N'783945', 3, 1)
INSERT [dbo].[Client] ([id], [id_role], [id_library_card], [Name], [Surname], [Patronymic], [login], [password], [id_group], [IsDelete]) VALUES (5, 1, 5, N'Инсаф', N'Гарипов', N'Рамилевич', N'YGV5DA', N'985105', 4, 1)
INSERT [dbo].[Client] ([id], [id_role], [id_library_card], [Name], [Surname], [Patronymic], [login], [password], [id_group], [IsDelete]) VALUES (6, 1, 6, N'Илдар', N'Гисматуллин', N'Габбасович', N'UHB6DA', N'418419', 1, 1)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO

# [dbo].[Date_of_publication]

In [0]:
SET IDENTITY_INSERT [dbo].[Date_of_publication] ON 
INSERT [dbo].[Date_of_publication] ([id], [date_of_publication]) VALUES (1, N'1975')
INSERT [dbo].[Date_of_publication] ([id], [date_of_publication]) VALUES (2, N'1955')
INSERT [dbo].[Date_of_publication] ([id], [date_of_publication]) VALUES (3, N'1990')
INSERT [dbo].[Date_of_publication] ([id], [date_of_publication]) VALUES (4, N'1869')
INSERT [dbo].[Date_of_publication] ([id], [date_of_publication]) VALUES (5, N'2003')
INSERT [dbo].[Date_of_publication] ([id], [date_of_publication]) VALUES (6, N'2019')
SET IDENTITY_INSERT [dbo].[Date_of_publication] OFF
GO

# [dbo].[Discipline]

In [0]:
SET IDENTITY_INSERT [dbo].[Discipline] ON 
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (1, N'Химия')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (2, N'Биология')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (3, N'Обществознание')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (4, N'Физическая культура')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (5, N'Иностранный язык')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (6, N'Физика')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (7, N'Математика')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (8, N'Информатика')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (9, N'Русский язык')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (10, N'Литература')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (11, N'Основы материаловедение')
INSERT [dbo].[Discipline] ([id], [discipline]) VALUES (12, N'История')
SET IDENTITY_INSERT [dbo].[Discipline] OFF
GO

# [dbo].[Group_student]

In [0]:
SET IDENTITY_INSERT [dbo].[Group_student] ON 
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (1, N'С-9-12')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (2, N'ЭД-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (3, N'ЗУ-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (4, N'ЗУк-9-12')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (5, N'Б-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (6, N'Ск-9-15')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (7, N'МВ-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (8, N'СД-9-15')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (9, N'СТ-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (10, N'ДОУ-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (11, N'ЛД-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (12, N'ЗУ-9-11')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (13, N'СТ-9-21')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (14, N'СТ-9-31')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (15, N'ЛД-9-21')
INSERT [dbo].[Group_student] ([id], [Name]) VALUES (16, N'ЛДк-9-22')
SET IDENTITY_INSERT [dbo].[Group_student] OFF
GO

# [dbo].[Library_Card]

In [0]:
SET IDENTITY_INSERT [dbo].[Library_Card] ON 
INSERT [dbo].[Library_Card] ([id], [id_client], [id_author], [id_book], [id_date_of_publication], [id_location], [part_number], [date_redister], [date_register_end], [IsDelete]) VALUES (1, 1, 1, 1, 1, 1, 1, CAST(N'2025-05-14' AS Date), CAST(N'2025-05-28' AS Date), 1)
INSERT [dbo].[Library_Card] ([id], [id_client], [id_author], [id_book], [id_date_of_publication], [id_location], [part_number], [date_redister], [date_register_end], [IsDelete]) VALUES (2, 2, 2, 2, 2, 2, 2, CAST(N'2025-04-14' AS Date), CAST(N'2025-04-28' AS Date), 1)
INSERT [dbo].[Library_Card] ([id], [id_client], [id_author], [id_book], [id_date_of_publication], [id_location], [part_number], [date_redister], [date_register_end], [IsDelete]) VALUES (3, 3, 3, 3, 3, 3, 3, CAST(N'2025-06-06' AS Date), CAST(N'2025-06-20' AS Date), 1)
INSERT [dbo].[Library_Card] ([id], [id_client], [id_author], [id_book], [id_date_of_publication], [id_location], [part_number], [date_redister], [date_register_end], [IsDelete]) VALUES (4, 4, 4, 4, 4, 4, 4, CAST(N'2025-04-15' AS Date), CAST(N'2025-04-29' AS Date), 1)
INSERT [dbo].[Library_Card] ([id], [id_client], [id_author], [id_book], [id_date_of_publication], [id_location], [part_number], [date_redister], [date_register_end], [IsDelete]) VALUES (5, 5, 5, 5, 5, 5, 5, CAST(N'2025-05-20' AS Date), CAST(N'2025-06-03' AS Date), 1)
INSERT [dbo].[Library_Card] ([id], [id_client], [id_author], [id_book], [id_date_of_publication], [id_location], [part_number], [date_redister], [date_register_end], [IsDelete]) VALUES (6, 6, 6, 6, 6, 6, 6, CAST(N'2025-06-11' AS Date), CAST(N'2025-06-25' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Library_Card] OFF
GO

# [dbo].[location]

In [0]:
SET IDENTITY_INSERT [dbo].[location] ON 
INSERT [dbo].[location] ([rack], [sthelf], [id_discipline], [id_date_of_publication], [id_book], [id]) VALUES (1, 1, 10, 1, 1, 1)
INSERT [dbo].[location] ([rack], [sthelf], [id_discipline], [id_date_of_publication], [id_book], [id]) VALUES (1, 2, 6, 2, 2, 2)
INSERT [dbo].[location] ([rack], [sthelf], [id_discipline], [id_date_of_publication], [id_book], [id]) VALUES (1, 3, 1, 3, 3, 3)
INSERT [dbo].[location] ([rack], [sthelf], [id_discipline], [id_date_of_publication], [id_book], [id]) VALUES (1, 3, 1, 4, 4, 4)
INSERT [dbo].[location] ([rack], [sthelf], [id_discipline], [id_date_of_publication], [id_book], [id]) VALUES (1, 5, 3, 5, 5, 5)
INSERT [dbo].[location] ([rack], [sthelf], [id_discipline], [id_date_of_publication], [id_book], [id]) VALUES (1, 5, 3, 6, 6, 6)
SET IDENTITY_INSERT [dbo].[location] OFF
GO

# [dbo].[Rent]

In [0]:
SET IDENTITY_INSERT [dbo].[Rent] ON 
INSERT [dbo].[Rent] ([id], [id_worker], [id_library_card]) VALUES (1, 1, 1)
INSERT [dbo].[Rent] ([id], [id_worker], [id_library_card]) VALUES (2, 2, 2)
INSERT [dbo].[Rent] ([id], [id_worker], [id_library_card]) VALUES (3, 3, 3)
INSERT [dbo].[Rent] ([id], [id_worker], [id_library_card]) VALUES (4, 4, 2)
INSERT [dbo].[Rent] ([id], [id_worker], [id_library_card]) VALUES (5, 5, 3)
INSERT [dbo].[Rent] ([id], [id_worker], [id_library_card]) VALUES (6, 6, 4)
SET IDENTITY_INSERT [dbo].[Rent] OFF
GO

# [dbo].[Role]

In [0]:
SET IDENTITY_INSERT [dbo].[Role] ON 
INSERT [dbo].[Role] ([id], [role]) VALUES (1, N'Студент')
INSERT [dbo].[Role] ([id], [role]) VALUES (2, N'Преподаватель')
INSERT [dbo].[Role] ([id], [role]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO

# [dbo].[Worker]

In [0]:
SET IDENTITY_INSERT [dbo].[Worker] ON 
INSERT [dbo].[Worker] ([id], [id_role], [Name], [Surname], [Patronymic], [Login], [Password], [IsDelete]) VALUES (1, 2, N'Рафкат', N'Закиров', N'Гибатович', N'QEWR1', N'ZAQ1SA', 1)
INSERT [dbo].[Worker] ([id], [id_role], [Name], [Surname], [Patronymic], [Login], [Password], [IsDelete]) VALUES (2, 2, N'Наиля', N'Халиуллина', N'Фаридовна', N'ADSF2', N'WSX2SA', 1)
INSERT [dbo].[Worker] ([id], [id_role], [Name], [Surname], [Patronymic], [Login], [Password], [IsDelete]) VALUES (3, 2, N'Татьяна', N'Стрельникова', N'Львовна', N'ZCXV3', N'EDC3SA', 1)
INSERT [dbo].[Worker] ([id], [id_role], [Name], [Surname], [Patronymic], [Login], [Password], [IsDelete]) VALUES (4, 2, N'Вячеслав', N'Игнашин', N'Михайлович', N'TUYI4', N'TGB4SA', 1)
INSERT [dbo].[Worker] ([id], [id_role], [Name], [Surname], [Patronymic], [Login], [Password], [IsDelete]) VALUES (5, 2, N'Алсу', N'Гарифзянова', N'Рашитовна', N'GJHK5', N'YHN5SA', 1)
INSERT [dbo].[Worker] ([id], [id_role], [Name], [Surname], [Patronymic], [Login], [Password], [IsDelete]) VALUES (6, 3, N'Лейсан', N'Топаева', N'Рустамовна', N'BMN1', N'UJM6SA', 1)
SET IDENTITY_INSERT [dbo].[Worker] OFF
GO

# [FK_Book_Author]

In [0]:
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([id_author])
REFERENCES [dbo].[Author] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO

# [FK_Book_Date_of_publication]

In [0]:
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Date_of_publication] FOREIGN KEY([id_date_of_publication])
REFERENCES [dbo].[Date_of_publication] ([id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Date_of_publication]
GO

# [FK_Client_Group_student]

In [0]:
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Group_student] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group_student] ([id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Group_student]
GO

# [FK_Client_Library_Card]

In [0]:
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Library_Card] FOREIGN KEY([id_library_card])
REFERENCES [dbo].[Library_Card] ([id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Library_Card]
GO

# [FK_Client_Role]

In [0]:
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Role]
GO

# [FK_Library_Card_Author]

In [0]:
ALTER TABLE [dbo].[Library_Card]  WITH CHECK ADD  CONSTRAINT [FK_Library_Card_Author] FOREIGN KEY([id_author])
REFERENCES [dbo].[Author] ([id])
GO
ALTER TABLE [dbo].[Library_Card] CHECK CONSTRAINT [FK_Library_Card_Author]
GO

# [FK_Library_Card_Book]

In [0]:
ALTER TABLE [dbo].[Library_Card]  WITH CHECK ADD  CONSTRAINT [FK_Library_Card_Book] FOREIGN KEY([id_book])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[Library_Card] CHECK CONSTRAINT [FK_Library_Card_Book]
GO

# [FK_Library_Card_Client]

In [0]:
ALTER TABLE [dbo].[Library_Card]  WITH CHECK ADD  CONSTRAINT [FK_Library_Card_Client] FOREIGN KEY([id_client])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[Library_Card] CHECK CONSTRAINT [FK_Library_Card_Client]
GO

# [FK_Library_Card_Date_of_publication]

In [0]:
ALTER TABLE [dbo].[Library_Card]  WITH CHECK ADD  CONSTRAINT [FK_Library_Card_Date_of_publication] FOREIGN KEY([id_date_of_publication])
REFERENCES [dbo].[Date_of_publication] ([id])
GO
ALTER TABLE [dbo].[Library_Card] CHECK CONSTRAINT [FK_Library_Card_Date_of_publication]
GO

# [FK_Library_Card_location]

In [0]:
ALTER TABLE [dbo].[Library_Card]  WITH CHECK ADD  CONSTRAINT [FK_Library_Card_location] FOREIGN KEY([id_location])
REFERENCES [dbo].[location] ([id])
GO
ALTER TABLE [dbo].[Library_Card] CHECK CONSTRAINT [FK_Library_Card_location]
GO

# [FK_location_Book]

In [0]:
ALTER TABLE [dbo].[location]  WITH CHECK ADD  CONSTRAINT [FK_location_Book] FOREIGN KEY([id_book])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[location] CHECK CONSTRAINT [FK_location_Book]
GO

# [FK_location_Date_of_publication]

In [0]:
ALTER TABLE [dbo].[location]  WITH CHECK ADD  CONSTRAINT [FK_location_Date_of_publication] FOREIGN KEY([id_date_of_publication])
REFERENCES [dbo].[Date_of_publication] ([id])
GO
ALTER TABLE [dbo].[location] CHECK CONSTRAINT [FK_location_Date_of_publication]
GO

# [FK_location_Discipline]

In [0]:
ALTER TABLE [dbo].[location]  WITH CHECK ADD  CONSTRAINT [FK_location_Discipline] FOREIGN KEY([id_discipline])
REFERENCES [dbo].[Discipline] ([id])
GO
ALTER TABLE [dbo].[location] CHECK CONSTRAINT [FK_location_Discipline]
GO

# [FK_Rent_Library_Card]

In [0]:
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Library_Card] FOREIGN KEY([id_library_card])
REFERENCES [dbo].[Library_Card] ([id])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Library_Card]
GO

# [FK_Rent_Worker]

In [0]:
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Worker] FOREIGN KEY([id_worker])
REFERENCES [dbo].[Worker] ([id])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Worker]
GO

# [FK_Worker_Role]

In [0]:
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Role]
GO